<div class="textcolorwhite">
<h2>Sign up</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div>
  	<div class="textcolorwhite">
  		<%= f.label :email %> 
  	</div> 
  <%= f.email_field :email, autofocus: true %>
</div>

  <br />

<div>
  	<div class="textcolorwhite"> 
  		<%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
  	</div>
    <%= f.password_field :password, autocomplete: "off" %>
</div>
    <br />

<div>
  	<div class="textcolorwhite">
  		<%= f.label :password_confirmation %>
  	</div>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>
    <br />



  <div>
    <%= f.submit "Sign Up" %>
  </div>

</div>

<% end %>

<%= render "devise/shared/links" %>

